.card_wrap {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid var(--gray-light);
  background: var(--white);
  max-width: 888px;
}

.card_img {
  border-radius: 10px;
  display: block;
  width: 292px;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

.card_info {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.card_info_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.card_info_title {
  color: var(--main);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.card_price_wrap {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.card_dscr {
  overflow: hidden;
  color: var(--text);
  text-overflow: ellipsis;

  width: 525px;
  /* font-family: 'Inter', sans-serif; */
  line-height: 1.5;
}

.card_more_btn {
  display: block;
  padding: 16px;
  border-radius: 200px;
  background-color: var(--button);
  width: 166px;

  transition: background-color var(--animation);
}

.card_more_btn:hover {
  background-color: var(--button-hover);
  color: var(--white);
}
