.hero_section {
  background-image: url('../../assets/images/hero_picture_1x.webp');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 74px);
}

@media (min-resolution: 192dpi) {
  .hero_section {
    background-image: url('../../assets/images/hero_picture_2x.webp');
  }
}
.hero_container {
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  padding: 0 64px;
  margin: 0 auto;
  position: relative;
}

.hero_wrapper {
  padding-top: 260px;
}

.hero_title {
  color: var(--inputs);
  font-size: 48px;
  font-weight: 600;
  line-height: 0.67;
  margin-bottom: 16px;
}

.hero_text {
  color: var(--inputs);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 40px;
}
