.camper_gallery_wrapper {
  width: 1312px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.gallery_list {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-bottom: 28px;
}
.gallery_item {
  /* background: url('path_to_image'); */
}
.gallery_img {
  border-radius: 10px;
  width: 276px;
  height: 312px;
  object-fit: cover;
  object-position: center;
  transition: all var(--animation);
}
.gallery_img:hover {
  cursor: zoom-in;
  scale: 1.04;
  border: 1px solid var(--main);
  box-shadow: 6px -6px 30px -6px rgba(16, 24, 40, 1);
}
.gallery_dscr {
  line-height: 1.5;
  color: var(--text);
}
