.reviews_wrapper {
  width: 641px;
}
.reviewList {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.review_item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.review_header {
  display: flex;
  align-items: center;
  gap: 16px;
}
.review_title {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 60px;
  width: 60px;
  height: 60px;
  background: var(--badges);

  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--button);
}
.review_header_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.review_name {
  font-weight: 500;
  line-height: 1.5;
  color: var(--main);
}
.star_filled {
  fill: var(--rating);
}
.star_empty {
  fill: var(--badges);
}
.review_comment {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}
